<!doctype html>
<meta charset="utf-8">
<link rel=icon href="/static/favicon.ico"/>
<link rel="stylesheet" href="/static/main.css">
<!-- <title>{{ assignment.title }}</title> -->

{% include "header.html" with title="{{assignment.title}}" %}

<main>
    <section class="page_heading">
        <h1>{{ assignment.title }}</h1>
        <p>Due {{ assignment.deadline|date:"F d" }}, total of {{ assignment.points }} points</p>
    </section>

    <aside class="action_card">
        <div>
            <p>Currently {{ number_of_submissions }}/{{ number_of_students }} submissions</p>
        </div>
        
        <div>
            <p>{{ number_of_submissions_assigned_to_you }} submission{{ number_of_submissions_assigned_to_you|pluralize }} assigned to you</p>
            <a href="/{{ assignment.id }}/submissions">Grade</a>
        </div>
    </aside>
    
    <h2 id="assignment_description_header">Description</h2>
    {{ assignment.description|safe }}
</main>