{% include "header.html" with title="Index" %}

<main>
    <section class="page_heading">
        <h1>All Assignments</h1>
    </section>
    
    <table class="sortable">
        <thead>
            <tr>
                <th><strong>Assignment</strong></th>
                <th class="sort-column" role=button><strong>Due Date</strong></th>
                <th class="sort-column number_column" role=button><strong>Weight</strong></th>
            </tr>  
        </thead>
        <tbody>
            {% for assignment in assignments %}
                <tr data-index="{{ forloop.counter }}">
                    <td><a href="/{{ assignment.id }}/">{{assignment.title}}</a></td>
                    <td data-value="{{ assignment.deadline|date:'U' }}">{{ assignment.deadline }}</td>
                    <td class="number_column" data-value="{{ assignment.weight }}">{{ assignment.weight }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>