<!doctype html>
<meta charset="utf-8">
<link rel=icon href="/static/favicon.ico"/>
<link rel="stylesheet" href="/static/main.css">
<title>Index</title>

{% include "header.html" with title="Index" %}

<main>
    <section class="page_heading">
        <h1>All Assignments</h1>
    </section>
    
    <table>
        <thead>
            <tr>
                <th><strong>Assignment</strong></th>
                <th><strong>Due Date</strong></th>
                <th class="number_column"><strong>Weight</strong></th>
            </tr>  
        </thead>
        <tbody>
            {% for assignment in assignments %}
                <tr>
                    <td><a href="/{{ assignment.id }}/">{{assignment.title}}</a></td>
                    <td>{{ assignment.deadline }}</td>
                    <td class="number_column">{{ assignment.weight }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>