<!doctype html>
<meta charset="utf-8">
<link rel=icon href="/static/favicon.ico"/>
<link rel="stylesheet" href="/static/main.css">
<title>Login</title>

<header>
    <div>
        <h1>CS 3550</h1>
        <ul>
            <li><a href="index.html">Assignments</a></li>
            <li><a href="profile.html">Profile</a></li>
        </ul>
    </div>
</header>

<main>
    <section class="page_heading">
        <h1>Log in</h1>
    </section>
    
    <form id="login_form">
        <div class="login_form_input">
            <label for="username">Username</label>
            <input type="text" id="username" autofocus>
        </div>

        <div class="login_form_input">
            <label for="password">Password</label>
            <input type="password" id="password">
        </div>
        
        <div id="login_form_submit_button">
            <input type="submit" value="Login">
        </div>
    </form>
</main>