{% include "header.html" with title="Profile" %}

<main>
    <section class="page_heading">
        <h1>Your Grades</h1>
    </section>
    
    <aside class="action_card">
        <div>
            <p>Currently logged in as ta1. </p>
            <a href="/profile/logout" role="button">Log Out</a>
        </div>
    </aside>
    
    <table>
        <thead>
            <tr>
                <th>Assignment</th>
                <th class="number_column">Graded</th>
            </tr>
        </thead>
        <tbody>
            {% for graded_assignment in assignment_graded_column %}
                <tr>
                    <td><a href="/{{ graded_assignment.assignment.id }}/">{{ graded_assignment.assignment.title }}</a></td>
                    <td class="number_column"> {{graded_assignment.submissions_you_graded}} / {{graded_assignment.submissions_assigned_to_you}} </td>
                </tr>
            {% endfor %}            
        </tbody>
    </table>
</main>