{% include "header.html" with title="Profile" %}

<main>
    <section class="page_heading">
        <h1>Your Grades</h1>
    </section>
    
    <aside class="action_card">
        <div>
            <p>Currently logged in as {{ user.get_full_name }} </p>
            <a href="/profile/logout" role="button">Log Out</a>
        </div>
    </aside>
    
    {% if is_student %}
        <table class="sortable make_grade_hypothesized">
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th class="sort-column number_column" role=button>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in assignment_graded_column %}
                    <tr data-index="{{ forloop.counter }}">
                        <td><a href="/{{ assignment.assignment.id }}/">{{ assignment.assignment.title }}</a></td>
                        <td class="number_column" data-value="{{ assignment.status }}" data-weight="{{ assignment.assignment.weight }}"> {{assignment.status}} </td>
                    </tr>
                {% endfor %}            
            </tbody>
            <tfoot>
                <tr>
                    <td>Final Grade</td>
                    <td>{{ finalGrade }}</td>
                </tr>
            </tfoot>
        </table>
    {% elif is_ta %}
        <table class="sortable">
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th class="sort-column number_column" role="button">Graded</th>
                </tr>
            </thead>
            <tbody>
                {% for graded_assignment in assignment_graded_column %}
                    <tr data-index="{{ forloop.counter }}">
                        <td><a href="/{{ graded_assignment.assignment.id }}/">{{ graded_assignment.assignment.title }}</a></td>
                        <td class="number_column" data-value="{{graded_assignment.submissions_you_graded}}"> {{graded_assignment.submissions_you_graded}} / {{graded_assignment.submissions_assigned_to_you}} </td>
                    </tr>
                {% endfor %}            
            </tbody>
        </table>
    {% elif is_superuser %}
        <table class="sortable">
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th class="sort-column number_column">Graded</th>
                </tr>
            </thead>
            <tbody>
                {% for graded_assignment in assignment_graded_column %}
                    <tr>
                        <td><a href="/{{ graded_assignment.assignment.id }}/">{{ graded_assignment.assignment.title }}</a></td>
                        <td class="number_column" data-value="{{ graded_assignment.gradedSubs }}"> {{graded_assignment.gradedSubs}} / {{graded_assignment.totalSubs}} </td>
                    </tr>
                {% endfor %}            
            </tbody>
        </table>
    {% endif %}
</main>