{% include "header.html" with title="Submissions" %}

<main>
    <section class="page_heading">
        <h1>{{ assignment.title }}</h1>
        <p>All grades out of {{ assignment.points }}</p>
    </section>

    <form action="/{{ assignment.id }}/submissions" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th><strong>Student</strong></th>
                    <th><strong>Submission</strong></th>
                    <th><strong>Grade</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td><label for="{{submission.author.get_full_name}}"> {{submission.author.get_full_name}} </label></td>
                        <td><a href="{{ submission.file.url }}">Submission</a></td>
                        <td><input type="number" id="{{submission.author.get_full_name}}" name="score_{{submission.id}}" value="{{submission.score}}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <div>
            <input type="submit" value="Submit">
            <a href="/{{ assignment.id }}/">Back to assignment</a>
        </div>
        
    </form>
</main>